*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.mjpeg filter=lfs diff=lfs merge=lfs -text
*.pkt filter=lfs diff=lfs merge=lfs -text
